@charset "UTF-8";

div {
	text-align: center;
}

.btn1, .btn2, .btn3 {
	border: 1px solid blue;
	width: 100px;
	height: 50px;
	padding: 10px;
	cursor: pointer;
}

header {
	padding: 10px;
}

.msg{
	color: red;
	padding: 10px;
}