/* * * * * 페이지 초기화 * * * * */
* {
    margin: 0; padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
  }
  li{list-style: none;}
  a {text-decoration: none;}
  /* * * * * * header * * * * */
  header{
    height: 100px; background-color: #ea8f00;
  }
  /* * * * * * header의 #logo_wrap * * * * */
  header #logo_wrap{
    height: 50px; line-height: 50px; text-align: center;
    position: relative;
  }
  header #logo_wrap a{color:#FFFFFF; font-weight: bold;}
  header #logo_wrap .menu{
    position: absolute; left: 10px; top:0
  }
  header #logo_wrap .myinfo{
    position: absolute; right:10px; top: 0;
  }
  /* * * * * * header의 #search * * * * */
  header #search{
    height: 50px;
    position: relative; /*돋보기 이미지를 #search안에서 position*/
  }
  header #search input[type='text']{
    width: 100%; height: 50px;
    border: 3px solid #ea8f00;
    outline: 3px solid #ea8f00;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 5px 55px 5px 5px; /* 상 우 하 좌*/
  }
  header #search input[type='submit']{
    width:50px; height: 50px;
    border: 0; outline: 0;
    background: url('ex2/search.png') no-repeat;
    position: absolute;
    top:0; right:0;
  }
  /* * * * * #lnb * * * * */
  #lnb ul{
    overflow: hidden;
    margin: 7px 0; /*위 아래만 밖여백 */
  }
  #lnb ul li{
    float: left; width: 16.66%;
    text-align: center;
    height: 30px; line-height: 30px; text-align: center;
    border-right: 2px solid #ea8f00;
    box-sizing: border-box;
  }
  #lnb ul li:last-child{
    border: 0;
  }