/***** 페이지 초기화 *****/
@font-face {
    font-family: 'Kanit-Bold';
    src: url('../font/Kanit/Kanit-Bold.ttf'); /* css파일 기준으로 */
    }
* {
margin: 0; padding: 0;
font-family: 'Kanit-Bold';
}
#wrap {
    border: 1px solid gray;
    width: 1000px;
    margin: 0 auto; /* 가운데로 조정 */
    }