/***** 페이지 초기화 *****/
@font-face {
font-family: 'Kanit-Bold';
src: url('../font/Kanit/Kanit-Bold.ttf'); /* css파일 기준으로 */
}

* {
margin: 0; padding: 0;
font-family: 'Kanit-Bold';
}

#wrap {
border: 1px solid gray;
width: 1000px;
margin: 0 auto; /* 가운데로 조정 */
}

#header .gnb ul{
overflow : hidden;
background-color : black;
}

#header .gnb ul li{
float :left;
margin-left :3px;
padding :5px 23px ;
}

#header .gnb ul li a {
font-weight: bold;
color : white;
text-decoration: none;
text-align: center;
} /* * * * * * header의 .gnb * * * * * */

#header .logo p {
width: 200px;
height: 100px;
border : 1px solid lightgray;
text-align:center;
line-height : 100px;
margin :10px 0 5px 400px;
} /* * * * * * header의 .logo * * * * * */

#header .hitmenu ul {
overflow: hidden;
margin-right: 20px;
}

#header .hitmenu ul li{
padding:10px 30px;
float:right;
border :1px solid gray;
list-style: none;
text-decoration: none;
}

#header .hitmenu ul li:nth-child(1) {
border-radius : 0 10px 10px 0;
}

#header .hitmenu ul li:nth-child(4) {
border-radius: 10px 0 0 10px;
}

#header .hitmenu ul li a {
font-weight :bold;
text-decoration: none;
color: black;
} /* * * * * * header의 .hitmenu * * * * * */

#header .lnb ul{
border-top :1px dashed black;
border-bottom :1px dashed black;
overflow : hidden;
    
}

#header .lnb ul li {
float: left;
margin: 10px 16px;
padding: 10px 20px;
list-style: none;
/* border: 1px solid red; */
/* box-sizing: border-box; */
}

#header .lnb ul li a{
font-weight :bold;
color: black;
text-decoration: none;
} /* * * * * * header의 .lnb * * * * * */

/* #content */

#content{
width : 100%;
margin: 0 auto; 
}

#content .section1 {
border: 1px solid black;
overflow: hidden;
}

#content .section1 .slide_banner {
float: left;
width: 660px;
height: 380px;
border: 1px solid lightgray;
text-align: center;
line-height: 380px;
margin-left: 30px;
}

#content .section1 .side_banner {
float: left;
width: 280px;
height: 380px;
text-align: center;
line-height: 380px;
border: 1px solid lightgray;
}

#content .section2 .hitproduct {
border: 1px solid black;
overflow: hidden;
}

#content .section2 .hit_product p {
float: left;
border: 1px solid lightgray;
width: 233px;
height: 400px;
margin: 7px;
text-align : center;
line-height : 400px;
}

#content .section2 .md_product p {
float: left;
border: 1px solid lightgray;
width: 233px;
height: 400px;
margin: 7px;
text-align: center;
line-height: 400px;
}

#footer .office_logo{
    float : left;
    width :330px;
    margin-left : 1px;
    height : 80px;
    border :1px solid black;
}

#footer .office_address {
    float: left;
    width: 330px;
    margin-left : 1px;
    height : 80px;
    border :1px solid black;
}

#footer .shopping_info {
    float: left;
    width: 330px;
    margin-left : 1px;
    height: 80px;
    border :1px solid black;
}

#footer .copyright {
    clear: both;
    background-color: black;
    
}
#footer .copyright p {
    color:white;
    text-align: center;
}